@import "../../../styles/functions";
@import "../../../styles/variables";

.bottom-nav {
  position: fixed;
  bottom: $header-padding;
  width: 100%;
  left: 0;
  &-item {
    font-size: 28px;
    line-height: 36px;
    color: white;
  }
}
