@import "../../../styles/variables";

.menu-social {
  margin-top: 90px;
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  margin-left: auto;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.3s;
  .menu-social__item:nth-child(n):not(:last-child) {
    margin-right: 24px;
  }
}

.wrapper {
  top: 0;
  right: -100%;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: $menu-index;
  .overlay-item {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    transition: all 0.6s ease-in;
    z-index: $overlay-index;
  }
  .menu-list-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: $neutral-200;
    padding: calc(6% + 40px) 0;
    text-align: right;
    .menu-list {
      font-size: 48px;
      font-weight: 700;
      line-height: 52px;
      opacity: 0;
      transform: translateY(-30px);
      transition: all 0.3s;
      &-item {
        padding: 15px 0;
        width: fit-content;
        height: fit-content;
        margin-left: auto;
        &__link {
          width: fit-content;
          height: fit-content;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          div {
            color: white;
          }
        }
        &__circle {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin-left: 24px;
          &.circle-0 {
            background-color: #3d1766;
          }
          &.circle-1 {
            background-color: #6f1ab6;
          }
          &.circle-2 {
            background-color: #ff0032;
          }
          &.circle-3 {
            background-color: #cd0404;
          }
          &.circle-4 {
            background-color: #fff;
          }
        }
      }
    }
  }
  &.active {
    right: 0;
    .menu-list {
      opacity: 1;
      transform: translateY(0px);
    }
    .menu-social {
      opacity: 1;
      transform: translateY(0px);
    }
    .overlay-item {
      right: 200%;
    }
  }
}

@media (max-width: 360px) {
  .wrapper {
    .menu-list-wrapper {
      .menu-list {
        margin-top: 20px;
        font-size: 38px;
        font-weight: 700;
        line-height: 40px;
        &-item {
          &__circle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-left: 14px;
            &.circle-0 {
              background-color: #3d1766;
            }
            &.circle-1 {
              background-color: #6f1ab6;
            }
            &.circle-2 {
              background-color: #ff0032;
            }
            &.circle-3 {
              background-color: #cd0404;
            }
            &.circle-4 {
              background-color: #fff;
            }
          }
        }
      }
    }
  }
}
