// --Z-Index--
$header-index: 11;
$menu-index: 9;
$overlay-index: 10;
$selection-index: 8;

$header-padding: 5%;

// COLORS
// --BRANDING--
$primary-dark: #3D1766;
$primary-light: #6F1AB6;
$red-light: #FF0032;
$red-dark: #CD0404;

//--NEUTRAL--
$white: #FFFFFF;
$neutral-900: #FAF5FF;
$neutral-800: #F3E9FB;
$neutral-700: #DCC7ED;
$neutral-600: #766B80;
$neutral-500: #4C4552;
$neutral-400: #433C47;
$neutral-300: #2F2B33;
$neutral-200: #211E24;
$neutral-100: #131114;

//--FUNCTIONAL--
$success: #04CD69;
$success-light: #5CFFAE;
$danger: #CD0404;
$danger-light: #FF5252;
$warning: #F5C024;
$warning-light: #FFDC78;
$info: #0469CD;
$info-light: #85C2FF;

$header-padding: 30px;

$font-primary: "Maven Pro", sans-serif;
