/* Reset CSS */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
figure,
dl,
dd,
dt {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

button {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Arial, sans-serif;
}

:focus {
  outline: none;
}

.container--big {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;

  @media (min-width: 640px) {
    max-width: 640px;
  }

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
  }

  @media (min-width: 1280px) {
    max-width: 1440px;
  }
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;

  @media (min-width: 640px) {
    max-width: 640px;
  }

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
  }
}
/* start NewAndInsightsSection homepage */
.news-insights-swiper .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #766b7f;
}
.news-insights-swiper
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  background-color: #3d1766;
}
.news-insights-swiper .swiper-slide {
  padding: 50px;
}
.news-insights-swiper
  .swiper-wrapper
  .swiper-slide:nth-child(odd)
  .card-news-insights-container::before {
  content: "";
  width: 60px;
  height: 60px;
  background-color: #3d1766;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: -25px;
  z-index: -1;
}
.news-insights-swiper
  .swiper-wrapper
  .swiper-slide:nth-child(even)
  .card-news-insights-container::before {
  content: "";
  width: 60px;
  height: 60px;
  background-color: #ff0032;
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  left: -25px;
  z-index: -1;
}
.news-insights-swiper .swiper-wrapper .swiper-slide:nth-child(even) {
  transform: translateY(-30px);
}
.news-insights-swiper .swiper-button-prev {
  color: rgba(255, 255, 255, 1) !important;
  left: 0;
}
.news-insights-swiper .swiper-button-next {
  color: rgba(255, 255, 255, 1) !important;
  right: 0;
}
@media (max-width: 768px) {
  .news-insights-swiper .swiper-slide {
    padding: 40px 30px;
  }
}
/* end NewAndInsightsSection homepage */
