@import "../../../styles/mixins";
@import "../../../styles/variables";
.contact-form-input {
  width: 100%;
  label {
    width: 100%;
    color: $white;
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 8px;
  }
  input {
    width: 100%;
    height: auto;
    padding: 12px 20px;
    border-radius: 70px;
    border: 2px solid $white;
    margin-bottom: 8px;
    background-color: transparent;
    color: #dcc7ed;
    padding-right: 40px;
  }
  input::placeholder {
    color: #dcc7ed;
  }
}
.contact-form-textarea {
  label {
    width: 100%;
    color: $white;
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 8px;
  }
  textarea {
    color: #dcc7ed;
    width: 100%;
    min-height: 88px;
    height: auto;
    border-radius: 18px;
    border: 2px solid #fff;
    padding: 12px 20px;
    color: #dcc7ed;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    background-color: transparent;
    margin-bottom: 8px;
  }
  textarea::placeholder {
    color: #dcc7ed;
  }
}
