.case-study {
  &-wrapper {
    display: flex;
    justify-content: center;
  }
  &-list {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-column-gap: 100px;
  }
}

@media (max-width: 1200px) {
  .case-study {
    &-list {
      grid-column-gap: 40px;
    }
  }
}
